.success-message {
  color: green;
}

.error-message {
  color: red;
}
.detail-customer {
  .backtolist {
    color: #208046;
    img {
      transform: rotate(-90deg);
    }
    
  }
  .group-button_top {
    .fas img {
      filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(78%) hue-rotate(216deg) brightness(114%) contrast(100%);
    }
  }
  h1 {
    margin-top: 0;
  }
  .ttl {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: var(--number-1px, 1px) solid var(--modal-divider, #DEDFE0);
  }
  .tabNavigation {
    padding-bottom: 8px;
    background-color: #fff;
    li {
      display: inline-block;
      font-weight: 600;
      padding: 0 16px 4px;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      margin-right: 16px;
      &:hover,&.selected {
        color: var(--tab-text-active, #208046);
        border-bottom: 2px solid var(--border-brand, #4BA66F);
      }
    }
  }
  .card-primary {
    margin-top: 8px;
    border-radius: 16px 16px 0px 0px;
    background: var(--background-dim-green, #F6F6F6);
    padding: 16px;
    &.width-100 {
      .about-box {
        display: none;
      }
      .col-8 {
        width: 100%;
      }
    }
    .card {
      padding: 16px;
      border-radius: 16px;
      background-color: #fff;
      &.history-action {
        padding-top: 0;
      }
      .tab-pane {
        display: none;
      }
      table {
        width: 100%;
      }
      .note-wraper {
        .avatar img {
          overflow: hidden;
          margin-right: 8px;
          padding: 6px;
          border-radius: var(--avatar-radiusCorner-circle, 999px);
          background: var(--avatar-background-noAvatar, #DEDFE0);
        }
        .note-content {
          padding-left: 40px;
        }
      }
      .comment-box {
        padding: 16px;
        resize: none;
        border-radius: var(--input-radiusCorner, 8px);
        border: 1px solid var(--input-border-default, #DEDFE0);
        background: var(--input-background-default, #F6F6F6);
        width: 100%;
      }
    }
  }
  
  
  .card-history {
    .ttl {
      border-bottom: none;
    }
    .history-order {
      overflow: auto;
      margin: 0 -16px;
      table {
        margin-bottom: 16px;
      }
      th, td {
        padding: 8px;
      }
      th {
        background: var(--table-background-header, #DEDFE0);
      }
      td {
        &.status-order {
          padding: 0 8px;
        }
        .status_{
          &pay {
            border: 1px solid var(--tag-border-hover, #A7A7A8);
            background: var(--tag-background-default, #F2F3F5);
            width: 100%;
            font-weight: 600;
            font-size: 14px;
            display: inline-block;
          }
          &order{
            border: 1px solid var(--tag-border-hover, #208046);
            background: var(--color-primary-900, #208046);
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            display: inline-block;
            color: #fff;
            padding: 0 8px;
          }
        }
      }
    }
    .dt-paging {
      display: inline-block;
      nav {
        display: flex;
        button {
          border-radius: 8px;
          margin-left: 8px;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border: 1px solid var(--pagination-border-default, #DEDFE0);
          background: var(--pagination-background-default, #FFF);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &.current {
            background-color: #2A8C51;
            border: 1px solid var(--pagination-border-default, #2A8C51);
            color: #fff;
          }
          &.disabled {
            cursor: auto;
          }
          &.first,
          &.last {
            display: none;
          }
        }
      }
    }
    .btn-export {
      border-radius: var(--button-radiusCorner, 8px);
      border: 1.5px solid var(--button-outline-border-default, #DEDFE0);
      background: var(--color-grey-10, #FFF);
      padding: 7px 28px 7px 20px;
      span {
        margin-right: 8px;
      }
    }
  }
  .history-action {
    tr {
      th {
        text-align: left;
        padding: 8px;
        border-bottom: 2px solid #DEDFE0;
      }
      
      td {
        padding: 8px;
        .descript-note {
          display: flex;
          align-items: center;
          span.memo {
            margin-right: 8px;
            &.field-tag {
              font-size: 0;
              margin-right: 8px;
            }
          }
          span.memo.field-tag:first-child {
            font-size: 14px;
          }
          span.note-detail {
            max-width: 454px;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            border-radius: var(--tag-radiusCorner-rounded, 8px);
            border: 1px solid var(--border-primary, #DEDFE0);
            background: var(--tag-background-default, #F2F3F5);
            padding:4px 4px;
            font-size: 14px;
            line-height: 20px;
            
            
          }
          .tag.btn {
            font-size: 14px;
            line-height: 20px;
            padding: 4px 8px;
          }
        } 
      }
    }
  }
  .note-wraper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .js-comment-row {
      width: 100%;
      &:hover {
        .edit span {
          opacity: 1;
          visibility: visible;
        }
      }
      .account-name {
        font-weight: 600;
      }
      &.comment-pin {
        order: -1;
        .edit span {
          &.pin {
            opacity: 1;
            visibility: visible;
            img {
              filter: none;
            }
          }
        }
      }
      .note-content {
        .status-edited {
          color: #FF7A00;
          cursor: pointer;
        }
        .status-deleted {
          color: #747475;
        }
      } 
      .edit span {
        width: 25px;
        display: inline-block;
        opacity: 0;
        visibility: hidden;
        &.pen:hover {
          img {
            filter: brightness(0) saturate(100%) invert(56%) sepia(64%) saturate(316%) hue-rotate(91deg) brightness(89%) contrast(94%);
          }
        }
        &.pin{
          &:hover {
            cursor: pointer;
            img {
              filter: brightness(0) saturate(100%) invert(56%) sepia(64%) saturate(316%) hue-rotate(91deg) brightness(89%) contrast(94%);
            }
          }
          
        } 
        &.remove:hover {
          cursor: pointer;
          img {
            filter: brightness(0) saturate(100%) invert(15%) sepia(91%) saturate(6169%) hue-rotate(359deg) brightness(101%) contrast(107%);
          }
        }
      }
    }
    
  }
}
.scroll-menu{
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-left: 222px;
    ul {
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
    }
  }
}