.list-customer {
    padding: 16px 16px 0px;
    border-radius: 16px 16px 0px 0px;
    background: var(--background-dim-green, #F6F6F6);
    #searchBuilder {
        display: none !important;
    }
    .em-importer {
        .col-8 {
            ul li {
                padding-left: 4px;
            }
        }
        ul {
            
            li {
                span.btn {
                    padding-top: 7px;
                    padding-bottom: 7px;
                }
                &.add {
                    padding-left: 0;
                    width: 38px;
                    height: 38px;
                    background-color: #208046;
                    line-height: 35px;
                    text-align: center;
                    border-radius: 8px;
                    margin-right: 4px;
                    img {
                        filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(78%) hue-rotate(216deg) brightness(114%) contrast(100%);
                    }
                }
                &.has-child {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        bottom: -5px;
                        left: 0;
                        z-index: 1;
                        height: 8px;
                    }
                    &:hover {
                        ul {
                            opacity: 1;
                            visibility: visible;
                            z-index: 1;
                        }
                    }
                    ul {
                        background: var(--modal-background, #FFF);
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        position: absolute;
                        z-index: 0;
                        left: 8px;
                        bottom: calc(-100% - 53px);
                        visibility: hidden;
                        opacity: 0;
                        padding: 8px 16px 8px 8px;
                        li {
                            display: block;
                            white-space: nowrap;
                            padding: 7px 0;
                            a {
                                background: url(../img/icon/upload.svg) left center no-repeat;
                                padding-left: 36px;
                            }
                            button {
                                border: none;
                                background: url(../img/icon/download-svgrepo-com.svg) left center no-repeat;
                                padding-left: 36px;
                                cursor: pointer;
                                &:hover {
                                    color: #4BA66F;
                                }
                            }
                        }
                    }
                }
                &.status {
                    display: none;
                }
                &.has-time {
                    position: relative;
                    ul {
                        background: var(--modal-background, #FFF);
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        position: absolute;
                        z-index: 0;
                        left: 8px;
                        bottom: -100%;
                        visibility: hidden;
                        opacity: 0;
                        padding: 8px 16px 8px 8px;
                    }
                    &.active {
                        ul {
                            opacity: 1;
                        visibility: visible;
                        z-index: 1;
                        }
                    }
                }
            }
        }
        .btn {
            border-radius: 8px;
            border: 1.5px solid #DEDFE0;
            padding: 4px 24px;
            cursor: pointer;
            display: block;
            &.btn-fillter {
                background: url(../img/icon/filter-svgrepo-com.svg) left 8px center no-repeat;
                padding-left: 36px;
            }
            &.quick-edit {
                background: url(../img/icon/layer-svgrepo-com.svg) left 8px center no-repeat;
                padding-left: 36px;
            }
            &.btn-action {
                background: url(../img/icon/CaretDown.svg) right 8px center no-repeat;
                padding-right: 36px;
            }
            &.btn-status {
                background: url(../img/icon/delete-svgrepo-com.svg) right 8px center no-repeat;
                padding-right: 36px;
            }
            &.btn-time {
                background: url(../img/icon/calendar-alt-svgrepo-com.svg) left 8px center no-repeat;
                padding-left: 36px;
            }
            &.btn-column {
                background: url(../img/icon/table-add-svgrepo-com.svg) left 8px center no-repeat;
                padding-left: 36px;
            }
        }
    }
    #list-customer_wrapper {
        padding-top: 16px;
        div.dt-container {
            width: 800px;
            margin: 0 auto;
        }
        table.table {
            border-radius: 16px 16px 0px 0px;
            overflow: hidden;
            border-collapse: collapse;
            thead {
                background: var(--table-background-header, #DEDFE0);
                th {
                    vertical-align: middle;
                    &[data-dt-column="1"], &[data-dt-column="2"], &[data-dt-column="3"] {
                        cursor: auto;
                        pointer-events: none;
                        .dt-column-order {
                            display: none;
                        }
                    }
                }
            }
            th, td {
                padding: 8px 8px;
                border: none;
                vertical-align: top;
                line-height: normal;
                &:hover {
                    outline: none;
                }
                &:first-child {
                    padding-left: 8px;
                    padding-right: 0;
                }
                &.dt-orderable-asc {
                    padding-right: 18px;
                }
            }
            td:first-child {
                text-align: center;
            }
            td {
                .diachi {
                    min-width: 300px;
                }
                &.dt-type-date {
                    white-space: nowrap;
                }
            }
        }
        .dt-scroll-body {
            border: none;
            background-color: #fff;
        }
        thead > tr > th.dt-orderable-asc span.dt-column-order,
        thead > tr > th.dt-ordering-asc span.dt-column-order,
        thead > tr > td.dt-orderable-asc span.dt-column-order,
        thead > tr > td.dt-ordering-asc span.dt-column-order {
            right: 0;
            &:before {
                top: 31%;
            }
        }
        div.dt-button-collection {
            border-radius: 8px;
            div.dtb-popover-close {
                width: auto;
                height: auto;
                font-size: 50px;
            }
        }
        div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer {
            display: none;
        }
        div.dtsb-searchBuilder div.dtsb-group {
            margin-left: 0 !important;
        }
        div.dtsb-searchBuilder button.dtsb-button {
            display: flex;
            align-items: center;
            padding: 0;
            background: none;
            border: none;
            &:hover {
                background: none;
                border: none;
            }
        }
        div.dt-button-collection {
           
            width: 820px !important;
            
            div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria div.dtsb-inputCont select,
            div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-value,
            div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria div.dtsb-inputCont input {
                min-width: 150px;
            }
        }
        .dtsb-titleRow {
            border-bottom: var(--number-1px, 1px) solid var(--modal-divider, #DEDFE0);
            padding-bottom: 16px;
            margin-bottom: 16px;
            .dtsb-title {
                font-size: 20px;
                padding-top: 0;
                font-weight: bold;
            }
        }
        .dt-info,
        .dt-paging,
        .dt-search {
            display: none;
        }
        .bottom {
            display: flex;
            align-items: center;
            justify-content: end;
            padding-top: 16px;
            padding-bottom: 16px;
            .dt-paging {
                display: inline-block;
                nav {
                    display: flex;
                    button {
                        border-radius: 4px;
                        padding: 0;
                        margin-left: 8px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border: 1px solid var(--pagination-border-default, #DEDFE0);
                        background: var(--pagination-background-default, #FFF);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        &.current,&:hover {
                            background-color: #2A8C51;
                            border: 1px solid var(--pagination-border-default, #2A8C51);
                            color: #fff !important;
                        }
                        &.disabled {
                            cursor: auto;
                            background-color: #ccc;
                            border: 1px solid var(--pagination-border-default, #2A8C51);
                            &:hover {
                                background-color: #ccc;
                                border: 1px solid var(--pagination-border-default, #2A8C51);
                            }
                        }
                        &.first,
                        &.last {
                            display: none;
                        }
                    }
                }
            }
            .dt-length {
                padding-left: 16px;
                label {
                    display: none;
                }
            }
        }
    }
}
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria {
    select.dtsb-data,
    select.dtsb-condition,
    select.dtsb-value, 
    input.dtsb-value
    {
        border-radius: var(--dropdown-radiusCorner, 8px);
        border: 1px solid var(--dropdown-border-default, #DEDFE0);
        background: var(--Sample-frame-background-white, #FFF);
    }
} 
.daterangepicker .ranges li.active {
    color: #4BA66F;
    background: url(../img/icon/tick-svgrepo-com_green.svg) center right 16px no-repeat;
}
.daterangepicker.openscenter:after,.daterangepicker.openscenter:before {
    content: none;
}