.list-customer {
    padding: 16px 16px 0px;
    border-radius: 16px 16px 0px 0px;
    background: var(--background-dim-green, #F6F6F6);
    #searchBuilder {
        display: none !important;
    }
    .em-importer {
        .col-8 {
            ul li {
                padding-left: 8px;
            }
        }
        ul {
            li {
                span.btn {
                    padding-top: 7px;
                    padding-bottom: 7px;
                }
                &.add {
                    padding-left: 0;
                    width: 38px;
                    height: 38px;
                    background-color: #208046;
                    line-height: 35px;
                    text-align: center;
                    border-radius: 8px;
                    margin-right: 0px;
                    img {
                        filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(78%) hue-rotate(216deg) brightness(114%) contrast(100%);
                    }
                }
                &.has-child {
                    position: relative;
                    &:hover > span {
                        color: #4BA66F;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        bottom: -5px;
                        left: 0;
                        z-index: 10;
                        height: 8px;
                    }
                    &:hover {
                        .btn-action {
                            background-image: url(../img/icon-hover/CaretDown.svg);
                        }
                        ul {
                            opacity: 1;
                            visibility: visible;
                            z-index: 10;
                        }
                    }
                    ul {
                        background: var(--modal-background, #FFF);
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        position: absolute;
                        z-index: 0;
                        left: 8px;
                        top: calc(100% + 2px);
                        visibility: hidden;
                        opacity: 0;
                        padding: 8px 16px 8px 8px;
                        li {
                            display: block;
                            white-space: nowrap;
                            padding: 5px 0;
                            &:hover {
                                color: #4BA66F;
                            }
                            a {
                                padding-top: 2px;
                                padding-bottom: 2px;
                                padding-left: 36px;
                                &.upload {
                                    background: url(../img/icon/upload.svg) left center no-repeat;
                                    &:hover {
                                        background-image: url(../img/icon-hover/upload.svg);
                                    }
                                }
                            }
                            span.copyAllphone {
                                padding-top: 2px;
                                padding-bottom: 2px;
                                padding-left: 36px;
                                cursor: pointer;
                                background: url(../img/icon/copy.svg) left 1px center no-repeat;
                                background-size: 17px 20px;
                                &:hover {
                                    background: url(../img/icon-hover/copy.svg) left 1.2px center no-repeat;
                                }
                            }
                            button {
                                padding-top: 2px;
                                padding-bottom: 2px;
                                border: none;
                                background: url(../img/icon/download-svgrepo-com.svg) left center no-repeat;
                                padding-left: 36px;
                                cursor: pointer;
                                &:hover {
                                    color: #4BA66F;
                                    background-image: url(../img/icon-hover/download-svgrepo-com.svg);
                                }
                            }
                        }
                    }
                }
                &.status {
                    display: none;
                }
                &.has-time {
                    position: relative;
                    padding-right: 8px;
                    ul {
                        background: var(--modal-background, #FFF);
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        position: absolute;
                        z-index: 0;
                        left: 8px;
                        bottom: -100%;
                        visibility: hidden;
                        opacity: 0;
                        padding: 8px 16px 8px 8px;
                    }
                    &.active {
                        ul {
                            opacity: 1;
                        visibility: visible;
                        z-index: 10;
                        }
                    }
                }
            }
        }
        .btn {
            border-radius: 8px;
            border: 1.5px solid #DEDFE0;
            padding: 4px 24px;
            margin: 0;
            cursor: pointer;
            display: block;
            &:hover {
                color: #4BA66F;
            }
            &.btn-fillter {
                background: url(../img/icon/filter-svgrepo-com.svg) left 20px center #fff no-repeat;
                padding-left: 48px;
                &:hover {
                    background-image: url(../img/icon-hover/filter-svgrepo-com.svg);
                }
                small {
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                    background-color: #fff;
                    display: inline-block;
                    color: #000;
                    font-weight: 600;
                    text-align: center;
                }
                &.current-filter {
                    border: 1.5px solid #208046;
                    background-color: #208046;
                    background-image: url(../img/icon/filter-svgrepo-com_white.svg);
                    color: #fff;
                }
            }
            &.quick-edit {
                background: url(../img/icon/layer-svgrepo-com.svg) left 20px center #fff no-repeat;
                padding-left: 48px;
                &:hover {
                    background-image: url(../img/icon-hover/layer-svgrepo-com.svg);
                }
            }
            &.btn-action {
                background: url(../img/icon/CaretDown.svg) right 24px center #fff no-repeat;
                padding-right: 48px;
                
            }
            &.btn-status {
                background: url(../img/icon/delete-svgrepo-com.svg) right 24px center #fff no-repeat;
                padding-right: 48px;
                &:hover {
                    background-image: url(../img/icon-hover/delete-svgrepo-com.svg);
                }
            }
            &.btn-time {
                background: url(../img/icon/calendar-alt-svgrepo-com.svg) left 20px center #fff no-repeat;
                padding-left: 48px;
                &:hover {
                    background-image: url(../img/icon-hover/calendar-alt-svgrepo-com.svg);
                }
                &.date-filter {
                    background-color: #208046;
                    background-image: url(../img/icon/calendar-alt-svgrepo-com_white.svg);
                    color: #fff;
                }
            }
            &.btn-column {
                background: url(../img/icon/table-add-svgrepo-com.svg) left 20px center #fff no-repeat;
                padding-left: 48px;
                &:hover {
                    background-image: url(../img/icon-hover/table-add-svgrepo-com.svg);
                }
                &.active {
                    border: 1.5px solid #208046;
                    background-color: #208046;
                    color: #fff;
                    background-image: url(../img/icon-hover/table-add-svgrepo-com_white.svg);
                }
            }
        }
    }
    .dt-container {
        // padding-bottom: 50px;
        .bottom { 
            position: fixed;
            width: 100%;
            left: 0;
            bottom: 0;
            background: var(--background-dim-green, #fff);
            z-index: 2;
            padding: 13px 24px 13px 0px;
        }
    } 
    .dt-scroll-head,.dt-scroll-headInner,.table-list-customer{
        
    }
}

.dt-container {
    padding-top: 16px;
    div.dt-container {
        width: 800px;
        margin: 0 auto;
    }
    table.table {
        border-radius: 16px 16px 0px 0px;
        border-collapse: collapse;
        thead {
            th {
                vertical-align: middle;
                background: #DEDFE0;
                font-weight: 600;
                .nowrap {
                    display: block;
                }
                &[data-dt-column="2"], 
                &[data-dt-column="3"], 
                &[data-dt-column="6"],
                &[data-dt-column="7"],
                &[data-dt-column="8"],
                &[data-dt-column="16"],{
                    cursor: auto;
                    pointer-events: none;
                    .dt-column-order {
                        display: none;
                    }
                }
                &:first-child {
                    border-radius: 16px 0 0 0;
                    padding-bottom: 0;
                    padding-top: 0;
                    span {
                        font-size: 0;
                        display: block;
                    }
                }
                &:last-child {
                    border-radius: 0 16px 0 0;
                }
            }
        }
        th, td {
            padding: 8px 8px;
            border: none;
            vertical-align: top;
            line-height: normal;
            &:hover,&:focus-visible {
                outline: none !important;
            }
            &:first-child {
                padding-left: 8px;
                padding-right: 0;
                padding-top: 6px;
                padding-bottom: 0;
            }
            &.dt-orderable-asc {
                padding-right: 18px;
            }
        }
        td:first-child {
            text-align: center;
            padding-top: 7px;
        }
        td {
            padding-bottom: 0;
            min-height: 32px;
            &.wrap-td {
                position: relative;
            }
            .wrap-tags {
                overflow: hidden;
                position: relative;
                white-space: nowrap;
                display: flex;
                align-items: center;
                .badge {
                    position: sticky;
                    right: 0;
                    top: 0;
                    font-weight: bold;
                    cursor: pointer;
                    margin-left: 2px;
                    font-size: 12px;
                    border: 1px solid var(--color-grey-700, #424242);
                    background: var(--color-grey-50, #F2F3F5);
                    color: var(--color-blue-700, #424242);
                }
            }
            .ellipsis {
                position: absolute;
                border: 0;
                top: 6px;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                padding: 2px 8px;
                text-overflow: ellipsis;
            }
            .avatar img {
                border-radius: 50%;
            }
        }
    }
    .dt-scroll-body {
        border: none !important;
        background-color: #fff;
        padding-bottom: 8px;
    }
    thead > tr > th.dt-orderable-asc span.dt-column-order,
    thead > tr > th.dt-ordering-asc span.dt-column-order,
    thead > tr > td.dt-orderable-asc span.dt-column-order,
    thead > tr > td.dt-ordering-asc span.dt-column-order {
        right: 0;
        &:before {
            top: 31%;
        }
    }
    div.dt-button-collection {
        border-radius: 8px;
        padding: 16px 0;
        div.dtb-popover-close {
            display: none;
        }
    }
    div.dtsb-searchBuilder div.dtsb-group div.dtsb-logicContainer {
        display: none;
    }
    div.dtsb-searchBuilder div.dtsb-group {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        .dtsb-logicContainer + div.dtsb-criteria {
            display: none !important;
        }
    }
    div.dtsb-searchBuilder div.dtsb-titleRow button.dtsb-clearAll {
        display: none !important;
    }

div.dtsb-searchBuilder button.dtsb-button {
    padding: 0;
    background: none;
    border: none;
    &:hover {
        background: none;
        border: none;
    }
    &.dtsb-add {
        display: flex;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 24px;
        font-size: 14px;
        
    }
}
    
    
    div.dt-button-collection {
        width: 820px !important;
        div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria div.dtsb-inputCont select,
        div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-value,
        div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria div.dtsb-inputCont input {
            min-width: 150px;
        }
    }
    .dt-info,
    .dt-paging,
    .dt-search {
        display: none;
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: end;
        .dt-paging {
            display: inline-block;
            nav {
                display: flex;
                button {
                    border-radius: 4px;
                    padding: 0;
                    margin-left: 8px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border: 1px solid var(--pagination-border-default, #DEDFE0);
                    background: var(--pagination-background-default, #FFF);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:hover,&:focus-visible,&:active {
                        background: #DDF6E7;
                        border: 1px solid var(--pagination-border-default, #DDF6E7);
                        color: #4BA66F !important;
                        outline: none;
                        box-shadow: none;
                    }
                    &.current{
                        background: var(--pagination-background-active, #2A8C51);
                        border: 1px solid var(--pagination-border-default, #2A8C51);
                        color: #fff !important;
                        pointer-events: none;
                    }
                    &.disabled {
                        cursor: auto;
                        pointer-events: none;
                        background-color: #fff;
                        border: 1px solid var(--pagination-border-default, #DEDFE0);
                        i {
                            opacity: 0.4;
                        }
                        &:hover {
                            background-color: #fff;
                            border: 1px solid var(--pagination-border-default, #DEDFE0);
                        }
                    }
                    &.first,
                    &.last {
                        display: none;
                    }
                }
            }
        }
        .dt-length {
            padding-left: 16px;
            label {
                display: none;
            }
        }
    }
}
div.dtsb-searchBuilder {
    h3.title {
        font-size: 20px;
        font-weight: 600;
    }
    div.dtsb-titleRow {
        margin-bottom: 0;
        padding-bottom: 16px;
        margin-top: 12px;
        padding-top: 16px;
        margin-top: 0;
        padding-top: 0px;
        border: none;
        padding-right: 0 !important;
        div.dtsb-title {
            width: 100%;
            border-top: var(--number-1px, 1px) solid var(--modal-divider, #DEDFE0);
            font-size: 14px;
            font-weight: normal;
            margin-top: 12px;
            padding-top: 16px;
        }
    } 
    div.dtsb-group div.dtsb-criteria {
        margin-bottom: 16px;
        select.dtsb-data,
        select.dtsb-condition,
        select.dtsb-value, 
        input.dtsb-value
        {
            padding: 8px;
            border-radius: var(--dropdown-radiusCorner, 8px);
            border: 1px solid var(--dropdown-border-default, #DEDFE0);
            background: var(--Sample-frame-background-white, #FFF);
        }
    }
    .custom-btn {
        float: right;
        &.popover-close {
            border: 1.5px solid var(--text-error, #DEDFE0);
            background: var(--button-outline-border-default, #DEDFE0);
            margin-left: 12px;
        }
        &.revert {
            color: #CC2929;
            border-radius: var(--button-radiusCorner, 8px);
            border: 1.5px solid var(--text-error, #CC2929);
            background: var(--inform-background-error, #FFE7E0);
        }
    }
} 
.daterangepicker .ranges li.active {
    color: #4BA66F;
    background: url(../img/icon/tick-svgrepo-com_green.svg) center right 16px no-repeat;
}
.daterangepicker.openscenter:after,.daterangepicker.openscenter:before {
    content: none;
}

table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before {
    right: 0em;
    width: 20px;
    height: 100%;
    top: 0;
    content: ''!important;
    background: url(../img/icon/down.svg) center center no-repeat;
    z-index: 0;
    transform: rotate(3.142rad);
    display: inline-block;
    opacity: 0;
}

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after {
    right: 0em;
    width: 20px;
    height: 100%;
    top: 0;
    content: "" !important;
    background: url(../img/icon/down.svg) center center no-repeat;
    z-index: 0;
    display: inline-block;
    opacity: 0.5;
}
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before {
    opacity: 0;
}
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after {
    opacity: 0;
}
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before {
    opacity: 1;
    z-index: 1;
}
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after {
    opacity: 1;
    z-index: 1;
}
