.fas {
    &.fa-clock {
        background: url(../img/icon/clock-svgrepo-com.svg) center center no-repeat;
    }

    &.fa-down-white {
        background: url(../img/icon/down-white.svg) center center no-repeat;
    }

    &.fa-down-black {
        background: url(../img/icon/down-black.svg) center center no-repeat;
    }

    &.fa-up-white {
        background: url(../img/icon/up-white.svg) center center no-repeat;
    }

    &.fa-shopping-cart {
        background: url(../img/icon/shopping-cart.svg) center center no-repeat;
    }

    &.fa-note {
        background: url(../img/icon/note.svg) center center no-repeat;
    }

    &.fa-info-gray {
        background: url(../img/icon/WarningCircle-gray.svg) center center no-repeat;
    }

    &.fas-print {
        background: url(../img/icon/print.svg) center center no-repeat;
    }
}

.btn {
    &.btn-disable {
        opacity: 0.4;
        pointer-events: none;
    }
}

.fs-12 {
    font-size: 12px;
    line-height: 18px;
}

.fs-14 {
    font-size: 14px;
    line-height: 20px;
}

.fs-16 {
    font-size: 16px;
    line-height: 24px;
}

.fw-regular {
    font-weight: 400;
}

.color-gray {
    color: #747475;
}

.color-gray-2 {
    color: #5B5B5C;
}

.color-black {
    color: #000;
}

.color-black-2 {
    color: #0F0F0F;
}

.gap-4 {
    gap: 0 4px;
}

.gap-8 {
    gap: 0 8px;
}

.gap-10 {
    gap: 0 10px;
}

.gap-12 {
    gap: 0 12px;
}


.gap-16 {
    gap: 0 16px;
}

.gap-24 {
    gap: 0 24px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-b-r {
    border-radius: 0 !important;
}

.fw-bold {
    font-weight: 700;
}

.txt-green {
    color: var(--color-primary-900, #208046);
}

.order {
    .tab-add-product {
        border-bottom: 1px solid var(--modal-divider, #DEDFE0);
        padding-bottom: 12px;
    }

    .tab-order {
        border-radius: 16px 16px 0 0;
        padding-bottom: 8px;
        background-color: #fff;
        padding-inline: 16px;

        li {
            display: inline-block;
            font-weight: 600;
            padding: 0 16px 4px;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            margin-right: 16px;
            font-size: 16px;

            &:hover,
            &.selected {
                color: var(--tab-text-active, #208046);
                border-bottom: 2px solid var(--border-brand, #4BA66F);
            }
        }

        &:not(.selected) {
            color: #747475;
        }
    }

    .line-dots {
        border-bottom: 2px dashed var(--modal-divider, #dedfe0);
    }
    .line {
        border-bottom: 1px solid var(--modal-divider, #DEDFE0);
    }
    .info-product {
        color: var(--input-text-filled, #0f0f0f);
        padding-inline: 8px;
        .info-product {
            padding-inline: 0px;
        }
        &.info-order.line {
            border-bottom: none;
            .info-product {
                padding-left: 0;
            }
            
        }
        .name {
            font-weight: var(--font-weight-semibold, 600);
            line-height: var(--font-line-height-s16, 24px);
        }

        .note-box {
            overflow: hidden;
            color: var(--input-text-unfill, #747475);
            text-overflow: ellipsis;
            font-size: var(--font-size-web-body-md, 14px);
            font-weight: var(--font-weight-medium, 500);
            line-height: var(--font-line-height-s14, 20px);
        }
        &+.info-product{
            border-top: 1px solid var(--modal-divider, #DEDFE0);
            padding-top: 16px;
        }
    }

    .dropdown-address {
        position: relative;

        .dropdown-content {
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
        }
    }

    .info-pay {
        .total-price {
            color: #000;
            text-align: right;
            font-family: var(--font-type-body, Inter);
            font-size: var(--font-size-web-body-xl, 18px);
            font-weight: var(--font-weight-semibold, 600);
            line-height: var(--font-line-height-s18, 27px);
        }
    }

    .text-ellipsis {
        max-width: 368px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-primary {
        border-radius: 16px;
        padding-bottom: 16px;
        min-height:calc(100vh - 130px); 
        margin-bottom: 70px;
        .tab-content {
            .card {
                padding-bottom: 24px;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                &-no_border {
                    border-radius: 0 0 16px 16px;
                }
                &.order-card-ship {
                    .card-ship-item {
                        border-bottom: 1px solid var(--modal-divider, #DEDFE0);
                        padding-top: 32px;
                        &:first-child {
                            padding-top: 0;
                        }
                        &:last-child {
                            border-bottom: none;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .box-search {
        position: relative;

        .search-result {
            position: absolute;
            bottom: 14px;
            width: 100%;
            transform: translateY(100%);
            background: var(--dropdown-background, #f6f6f6);
            z-index: 20;

            .no-results {
                text-align: center;
                display: none;

                .btn-add-customer {
                    display: flex;
                    padding: var(--space-inline-16px, 16px);
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;
                    border-top: 1px solid var(--modal-divider, #dedfe0);
                    background: var(--color-primary-900, #208046);
                    color: var(--color-primary-100, #ddf6e7);
                    border: none;
                    width: 100%;
                    cursor: pointer;
                }
            }

            .results {
                cursor: pointer;
                background: var(--dropdown-background, #F6F6F6);
                display: none;
                padding: 16px;
                text-overflow: ellipsis;
                font-size: var(--font-size-web-body-lg, 16px);
                font-weight: var(--font-weight-semibold, 600);
                line-height: var(--font-line-height-s16, 24px);
            }
        }
    }

    .note-w-shipper {
        display: none;
    }
tags.tagify.form-control {
    margin: 0;
    padding: 0;
}
    .card-primary input[type="text"],
    .card-primary input[type="number"],
    .card-primary input[type="tel"],
    .card-primary input[type="date"],
    .card-primary select ,.tagify.form-control{
        border-radius: var(--input-radiusCorner, 8px);
        border: 1px solid var(--input-border-default, #dedfe0);
        padding: 10px;
        width: 100%;
        background: var(--input-background-default, #F6F6F6);

        &.search-cus {
            width: 100%;
            border-radius: 8px;
            border: 1px solid #dedfe0;
            padding: 10px;
            padding-left: 42px;
            background: url(../img/icon/search.svg) left 8px center #f6f6f6 no-repeat;

            &:focus {
                border: 1px solid var(--input-border-focus, #4ba66f);
                background: url(../img/icon/search.svg) left 8px center #fff no-repeat;
            }
        }

        &.is-disabled {
            pointer-events: none;
        }

        &.tag-input {
            width: auto;
            border: none;
            background: none;
            padding: 3px 5px;
        }
    }

    .card-primary input[type="date"] {
        text-transform: uppercase;
    }

    .address-select {
        color: var(--input-text-unfill, #747475);
    }

    .title-order {
        border-bottom: 1px solid var(--modal-divider, #dedfe0);
        padding: 12px 0;
        margin-bottom: 14px;
    }


    .management-link {
        color: var(--color-blue-900, #1F46A6);
        text-align: right;
        font-size: var(--font-size-web-body-md, 14px);
        font-style: italic;
        font-weight: 700;
        line-height: var(--font-line-height-s14, 20px);
    }

    .dropdown {
        pointer-events: none;

        input {
            padding-right: 28px;
            background: url(../img/icon/CaretDown.svg) right 8px center no-repeat #F6F6F6 !important;

            &.active {
                cursor: pointer;
            }
        }

        &-address {
            position: relative;
        }

        &-menu {
            display: none;
            background: var(--background-primary, #FFF);
            box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
            padding: 8px;
            position: absolute;
            top: 41px;
            left: 0;
            width: 100%;
            z-index: 22;
            .item {
                border-radius: var(--radius-rounded-4, 4px);
                padding: 8px;
                cursor: pointer;
                z-index: 23;
                &.active,
                &:hover {
                    background: var(--color-grey-50, #F2F3F5);
                }

                &+.item {
                    margin-top: 8px;
                }

            }


        }

    }

    .btn-add-address,
    .add-new-note {
        cursor: pointer;

        &:hover {
            color: #4BA66F;

            .fa-plus {
                background-image: url(../img/icon-hover/plus-svgrepo-com.svg);
            }
        }
    }

    .card .js-calendar.date {
        position: relative;
        cursor: pointer;
            background: url(../img/icon/CalendarBlank.svg) right 8px center no-repeat #F6F6F6;
    }

    .tooltip {
        position: relative;

        &-content {
            min-width: 186px;
            position: absolute;
            bottom: -4px;
            right: 1px;
            transform: translate(44%, 100%);
            padding: 8px;
            background: #fff;
            z-index: 2;
            color: var(--tooltip-text, #0F0F0F);
            font-family: var(--font-family, Inter);
            font-size: var(--number-12px, 12px);
            line-height: var(--font-line-height-s14, 20px);
            border-radius: var(--tooltip-radiusCorner, 8px);
            box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
            display: none;

            &.show {
                display: block;
            }

            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 50%;
                transform: translate(-50%, -100%);
                width: 14px;
                height: 8px;
                background: url(../img/icon/up-white.svg) center center no-repeat;
            }

            li {
                border-radius: 4px;
                padding: 4px;

                &:hover {
                    background: var(--color-grey-50, #F2F3F5);
                }
            }

            li+li {
                margin-top: 4px;
            }

            .close {
                position: absolute;
                right: 4px;
                top: 4px;
            }
        }
    }

    .tab-products {
        padding: 12px 16px;

        .btn {
            margin: 0;
        }

        .tab-add-product {
            display: flex;
            align-items: center;
            gap: 0 8px;
            padding-bottom: 16px;
            border-bottom: 1px solid var(--modal-divider, #DEDFE0);
        }

        .tab-content {
            padding-top: 16px;

            .list-product {
                padding-top: 26px;

                .item-head {
                    padding-inline: 8px;
                    background: var(--table-background-header, #DEDFE0);
                }

                .item-body {
                    padding-inline: 8px;
                    border: 1px solid var(--table-border, #DEDFE0);
                }

            }
        }

    }

    .auto-fill-checkbox {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 25px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            border-radius: 25px;

            &::before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 2px;
                bottom: 50%;
                transform: translate(0, 50%);
                background-color: white;
                border-radius: 50%;
            }
        }

        input:checked+.slider {
            background-color: #4caf50;

            &::before {
                transform: translate(25px, 50%);
            }
        }
    }

    .label {
        padding-top: 8px;
        padding-bottom: 8px;
        color: var(--table-text, #0F0F0F);
        font-size: var(--font-size-web-body-lg, 16px);
        font-weight: var(--font-weight-bold, 700);
        line-height: var(--font-line-height-s16, 24px);
    }

    .tag-container {
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
        padding: 0;
        align-items: center;
        border-radius: var(--dropdown-radiusCorner, 8px);
        border: 1px solid var(--dropdown-border-default, #DEDFE0);
        background: var(--Sample-frame-background-white, #FFF);
        z-index: 0;
        .tagify {
            width: 100%;
            border: none;
        }
    }

    .special-item+.special-item {
        margin-top: 8px;
    }

    .tag {
        border: 1px solid var(--border-primary, #DEDFE0);
        background: var(--tag-background-default, #F2F3F5);
        font-size: 16px;
        padding: 0 4px;
        max-height: 24px;


        .remove-tag {
            border: none;
            color: white;
            cursor: pointer;
            width: 24px;
            height: 24px;
            background: url(../img/icon/delete-svgrepo-com.svg) center center no-repeat;
        }
    }

    .tag-input {
        border: none;
        outline: none;
        flex-grow: 1;
        font-size: 14px;
        padding: 3px 5px;

        &::placeholder {
            color: #aaa;
        }
    }

    .clone-note {
        cursor: pointer;
        width: fit-content;

        &:hover {
            color: #4BA66F;

            .fa-plus {
                background-image: url(../img/icon-hover/plus-svgrepo-com.svg);
            }
        }
    }

    .add-tab {
        cursor: pointer;
        border: none;
        width: 32px;
        height: 32px;
        background: url(../img/icon/plus-white.svg) center center no-repeat #208046;
        border-radius: var(--number-8px, 8px);
    }

    .tab-button {
        padding: 3px 14px;
        border-radius: var(--number-8px, 8px);
        border: 1.5px solid var(--button-outline-border-default, #DEDFE0);
        background: #fff;
        color: var(--button-outline-text-default, #424242);
        font-size: 14px;
        line-height: 24px;
        display: flex;
        gap: 0 8px;
        align-items: center;

        &.active {
            background: var(--button-solid-background-default, #208046);
            border: 1px solid var(--input-border-error, #208046);
            color: #fff;

            .remove-tab {
                background: url(../img/icon/delete-svgrepo-com-white.svg) center center no-repeat
            }
        }

        .remove-tab {
            position: relative;
            z-index: 9;
            width: 24px;
            height: 24px;
            background: url(../img/icon/delete-svgrepo-com.svg) center center no-repeat;

            &.show {
                display: block;
            }
        }
    }

    .pay-field {
        color: #000;
        font-size: var(--font-size-web-body-lg, 16px);
        font-weight: var(--font-weight-regular, 400);
        line-height: var(--font-line-height-s16, 24px);

        input {
            max-width: 150px;
            height: 32px;
        }

        .total-pay {
            border-bottom: 1px solid var(--modal-divider, #DEDFE0);
            padding: 20px 0;
        }

        .card {
            padding-inline: 32px;
        }

        .shipping-fee {
            border-bottom: 1px solid var(--modal-divider, #DEDFE0);
            padding-top: 20px;
            padding-bottom: 20px;

            .fee-item {
                &+.fee-item {
                    padding-top: 16px;
                }
            }
        }

        .order-payment {
            padding-top: 20px;

            .payment-item {
                &+.payment-item {
                    padding-top: 12px;
                }

                input {
                    width: 20px;
                    height: 20px;
                }

                .status-payment {
                    position: relative;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;

                    .status-pay {

                        padding: 8px;
                        padding-right: 32px;
                        border-radius: var(--dropdown-radiusCorner, 8px);
                        border: 1px solid var(--dropdown-border-default, #DEDFE0);
                        background: var(--Sample-frame-background-white, #FFF);
                        width: 150px;
                        text-align: center;
                        background: url(../img/icon/CaretDown.svg) right 8px center no-repeat;
                        cursor: pointer;

                        &+.status {
                            padding-top: 8px;
                        }

                        span {
                            padding: 4px 0;

                            width: 100%;
                            height: 100%;
                            display: block;

                        }
                    }

                    .red,span[data-status="2"] {
                        color: #fff;
                        background: var(--color-red-500, #AB2222);
                    }

                    .purple,span[data-status="3"] {
                        color: #000;
                        background: var(--color-purple-300, #C6B1F6);
                    }

                    .white,span[data-status="1"] {
                        color: #000;
                        border: 1px solid var(--tag-border-hover, #A7A7A8);
                        background: var(--tag-background-default, #F2F3F5);
                    }

                    .status-pay-menu {
                        display: none;
                        position: absolute;
                        padding: 8px;
                        bottom: 0;
                        left: 0;
                        z-index: 22;
                        border-radius: var(--space-stack-4px, 4px);
                        background: var(--modal-background, #FFF);
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                        transform: translateY(100%);

                        .status-pay-item {
                            width: 110px;
                            cursor: pointer;

                            span {
                                width: 100%;
                                display: block;
                                height: 100%;
                                padding: 4px;
                            }

                            &+.status-pay-item {
                                padding-top: 8px;
                            }
                        }
                    }
                }
            }

            .paymented {
                display: none;
                padding-bottom: 24px;
                border-bottom: 1px solid var(--modal-divider, #DEDFE0);
            }
        }
    }

    .delivery-field {
        p {
            color: #000;
            font-size: var(--font-size-web-body-lg, 16px);
            font-weight: var(--font-weight-regular, 400);
            line-height: var(--font-line-height-s16, 24px);
        }

        .delivery-item {
            #loop {
                width: 20px;
                height: 20px;
                border-radius: var(--radius-rounded-4, 4px);
                border: 1.5px solid var(--checkbox-border-inactive, #A7A7A8);
                background: var(--checkbox-background-default, #FFF);
            }

            &.js-note, {
                display: none;
            }

            .loop {
                color: var(--text-tertiary, #747475);
            }

            .repeat-weekly {
                border-radius: 8px;
                border: 1px solid var(--border-primary, #DEDFE0);
                background: var(--calendar-background-base, #FFF);
                padding: 16px 8px;
                display: flex;
                width: 100%;
                margin-top: 8px;
                display: none;
                gap: 0 27px;
                align-items: center;

                label {
                    flex: 1;
                    padding: 6px 0;
                    text-align: center;
                    width: 70px;
                    cursor: pointer;

                    &:hover {
                        border-radius: var(--calendar-rounded-8, 8px);
                        background: var(--calendar-background-cell-hover, #F2F3F5);
                    }
                }

                input[type="checkbox"]:checked+label {
                    border-radius: var(--globalComponentRadius, 8px);
                    background: var(--calendar-background-cell-selected, #4BA66F);
                    color: var(--calendar-text-reverse, #FCFCFC);
                }

                &.show {
                    display: flex;
                }
            }
            .dropdown-address {
                .group-management-link {
                    display: none;
                }
            }
            .address {
                position: relative;

                .dropdown {
                    pointer-events: all;
                }
            }
        }

    }

    .tooltip-icon {
        position: relative;
    }
}
.overlay-drop-menu {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    z-index: 21;
}
.drp-calendar {
    padding-bottom: 0;
}
.daterangepicker-open {
    display: flex !important;
    flex-direction: column-reverse;
    
    .ranges {
        text-align: center;
        li,li.active {
            display: inline-block;
            cursor: pointer;
            color: var(--tab-text-active, #208046);
            font-size: var(--font-size-web-body-lg, 16px);
            font-weight: var(--font-weight-semibold, 600);
            line-height: var(--font-line-height-s16, 24px);
            border: none;
            padding-left: 28px;
            background: url(../img/icon-hover/UserCircle.svg) left center no-repeat;
            background-size: 20px auto;
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 10px;
        }
        li[data-range-key="Custom Range"] {
            display: none;
        }
    }
}
.note {
    color: var(--input-text-unfill, #747475);
    text-overflow: ellipsis;
    font-size: var(--font-size-web-body-md, 14px);
    font-weight: var(--font-weight-medium, 500);
    line-height: var(--font-line-height-s14, 20px);
}

.group {
    &-management-link {}
}

.tab-content-wrapper {
    display: none;

    &.active {
        display: block;
    }
}

.toast {
    position: absolute;
    padding: 12px;
    color: var(--inform-text, #0F0F0F);
    font-size: var(--font-size-web-body-md, 14px);
    font-weight: var(--font-weight-regular, 400);
    line-height: var(--font-line-height-s14, 20px);
    gap: 0 8px;
    align-items: center;
    bottom: 15px;
    right: 13px;
    z-index: 99;
    display: none;

    &.warning {
        border-radius: var(--inform-radiusCorner, 8px);
        border: 1px solid var(--inform-border-warning, #FFC500);
        background: var(--inform-background-warning, #FFF8D6);
    }

    &.show {
        display: flex;
    }

    .close-toast {
        cursor: pointer;
    }
}

.history-order {

    max-height: calc(62vh - 136px);
    overflow: hidden;
    overflow-y: auto;

    .no-history {
        margin: 0 auto;
        text-align: center;
        padding: 16px 0;
        display: none;
    }

    .history {
        display: none;
        padding:0 10px 10px;
        .history-item {
            margin-bottom: 10px;

            .history-header {
                background: var(--color-grey-100, #DEDFE0);
                padding: 8px;
                cursor: pointer;
                .history-id {
                    .fa-dropdown {
                        background: url(../img/icon/down-black.svg) center center no-repeat;
                    }

                    .number {
                        color: var(--button-solid-text, #0F0F0F);
                        text-align: center;
                        font-family: var(--font-type-body, inter);
                        font-size: var(--font-size-web-body-lg, 16px);
                        font-weight: var(--font-weight-bold, 700);
                        line-height: var(--font-line-height-s16, 24px);
                    }
                }

                &.is-active {
                    .fa-dropdown {
                        transform: rotate(0);
                    }
                }

                .fa-dropdown {
                    transform: rotate(-90deg);
                }
            }

            .history-status {
                .status_order {
                    width: 100%;
                    text-align: center;
                    font-weight: 600;
                    font-size: 14px;
                    display: inline-block;
                    color: #0F0F0F;
                    padding: 0 8px;
                    border: 1px solid var(--tag-border-hover, #A7A7A8);
                    background: var(--tag-background-default, #F2F3F5);
                }

                .copy {
                    display: block;
                    margin-right: 20px;
                    width: 60px;
                    height: 24px;
                    background: url(../img/icon/copy.svg) center center no-repeat;
                }
            }

            .history-content {
                padding: 10px 16px 28px;
                border: 1px solid var(--color-grey-100, #DEDFE0);

                .info {
                    border-bottom: 1px dashed var(--modal-divider, #DEDFE0);
                    padding-bottom: 8px;
                }

                .txt {
                    overflow: hidden;
                    color: var(--input-text-filled, #0F0F0F);
                    text-overflow: ellipsis;
                    font-family: var(--font-type-body, inter);
                    font-size: var(--font-size-web-body-md, 14px);
                    font-weight: var(--font-weight-regular, 400);
                    line-height: var(--font-line-height-s14, 20px);

                    &.txt-green {
                        color: var(--color-primary-900, #208046);
                    }

                    &.txt-bold {
                        font-weight: bold;
                    }
                }
            }

            &.using {
                .history-header {
                    background: var(--color-primary-900, #208046);

                    .history-id {
                        .fa-dropdown {
                            background: url(../img/icon/down-white.svg) center center no-repeat;
                        }

                        .number {
                            color: var(--button-solid-text, #FCFCFC);
                        }
                    }
                }

                .history-status {
                    .status_order {
                        color: #fff;
                        border: none;
                        background: var(--color-primary-900, #208046);
                    }

                    .copy {
                        background: url(../img/icon/copy-white.svg) center center no-repeat;
                    }
                }

                .history-content {
                    border: 1px solid var(--color-primary-900, #208046);
                }
            }
        }
    }

    .no-history,
    .history {
        &.show {
            display: block;
        }
    }
}

.navigation-bottom {
    padding: 16px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 214px);
    background: #fff;
}

.modal-add-address {
    align-items: center;
    justify-content: center;

    .modal-content {
        padding: 0 16px 16px;
        max-width: 642px;
        background: #fff;
        z-index: 26;
        border-radius: 16px;
        min-height: 0;

        .tlt {
            padding-top: 12px;
            padding-bottom: 12px;
            color: var(--modal-text, #0F0F0F);
            font-size: var(--font-size-web-body-lg, 16px);
            font-weight: var(--font-weight-semibold, 400);
            line-height: var(--font-line-height-s16, 24px);
            border-bottom: 1px solid var(--modal-divider, #DEDFE0);
        }
    }
}

.page-template-create_order,
.page-template-detail-order {

    .daterangepicker {
        .drp-calendar {
            width: 100%;
            max-width: 100%;

            .table-condensed {
                border-collapse: separate;
                border-spacing: 0 8px;
            }
        }
    }

}

.custom-today-button {
    text-align: center;

    .today-button {
        cursor: pointer;
        color: var(--tab-text-active, #208046);
        font-size: var(--font-size-web-body-lg, 16px);
        font-weight: var(--font-weight-semibold, 600);
        line-height: var(--font-line-height-s16, 24px);
        margin-bottom: 16px;
        border: none;
        padding-left: 28px;
        background: url(../img/icon-hover/UserCircle.svg) left center no-repeat;
        background-size: 20px 20px;
    }
}

#modal-remove-tab {
    .modal-dialog {
        position: absolute;
        width: 348px;
        height: 120px;
        p {
            flex: 1;
        }
    }
}

.explain-block {
    z-index: 21;
    display: none;
    padding: 8px;
    border-radius: var(--tooltip-radiusCorner, 8px);
    background: var(--tooltip-background, #FFF);
    right: 0;
    position: relative;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(103%, -47%);
    min-width: 421px;
    color: var(--tooltip-text, #0F0F0F);
    font-size: var(--number-12px, 12px);
    font-weight: 400;
    line-height: var(--font-line-height-s14, 20px);

    &::after {
        content: '';
        width: 8px;
        height: 14px;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        position: absolute;
        background: url(../img/icon/Arrow.svg) center center no-repeat;
    }

    .close-explain {
        cursor: pointer;
    }

    &.show {
        display: flex;
    }
}

.explain-icon {
    position: relative;
}