.fas {
    &.fa-clock {
        background: url(../img/icon/clock-svgrepo-com.svg) center center no-repeat;
    }

    &.fa-down-white {
        background: url(../img/icon/down-white.svg) center center no-repeat;
    }

    &.fa-down-black {
        background: url(../img/icon/down-black.svg) center center no-repeat;
    }
    &.fa-up-white {
        background: url(../img/icon/up-white.svg) center center no-repeat;
    }

    &.fa-shopping-cart {
        background: url(../img/icon/shopping-cart.svg) center center no-repeat;
    }

    &.fa-note {
        background: url(../img/icon/note.svg) center center no-repeat;
    }

    &.fa-info-gray {
        background: url(../img/icon/WarningCircle-gray.svg) center center no-repeat;
    }
}

.btn {
    &.btn-disable {
        opacity: 0.4;
        pointer-events: none;
    }
}

.fs-12 {
    font-size: 12px;
    line-height: 18px;
}

.fs-14 {
    font-size: 14px;
    line-height: 20px;
}

.fs-16 {
    font-size: 16px;
    line-height: 24px;
}

.fw-regular {
    font-weight: 400;
}

.color-gray {
    color: #747475;
}

.color-gray-2 {
    color: #5B5B5C;
}

.color-black {
    color: #000;
}

.color-black-2 {
    color: #0F0F0F;
}

.gap-8 {
    gap: 0 8px;
}

.gap-10 {
    gap: 0 10px;
}

.gap-16 {
    gap: 0 16px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-b-r {
    border-radius: 0 !important;
}

.fw-bold {
    font-weight: 700;
}

.txt-green {
    color: var(--color-primary-900, #208046);
}

.order {
    .tabNavigation {
        padding-left: 16px;
        border-radius: 16px 16px 0 0;

        &:not(.selected) {
            color: #747475;
        }
    }

    .line-dots {
        border-bottom: 2px dashed var(--modal-divider, #dedfe0);
    }

    .order-details {
        display: none;

        &.show {
            display: block;
        }
    }

    .info-product {
        color: var(--input-text-filled, #0f0f0f);
        padding-inline: 8px;

        .name {
            font-weight: var(--font-weight-semibold, 600);
            line-height: var(--font-line-height-s16, 24px);
        }

        .note-box {
            overflow: hidden;
            color: var(--input-text-unfill, #747475);
            text-overflow: ellipsis;
            font-size: var(--font-size-web-body-md, 14px);
            font-weight: var(--font-weight-medium, 500);
            line-height: var(--font-line-height-s14, 20px);
        }
    }

    .dropdown-address {
        position: relative;

        .dropdown-content {
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
        }
    }

    .info-pay {
        .total-price {
            color: #000;
            text-align: right;
            font-family: var(--font-type-body, Inter);
            font-size: var(--font-size-web-body-xl, 18px);
            font-weight: var(--font-weight-semibold, 600);
            line-height: var(--font-line-height-s18, 27px);
        }
    }

    .text-ellipsis {
        max-width: 368px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-primary {
        .card {
            padding-top: 16px;
            padding-bottom: 24px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;

            &.rounded-b-r {
                border-radius: 0 0 16px 16px !important;
            }
        }
    }

    .box-search {
        position: relative;

        .search-result {
            position: absolute;
            bottom: 14px;
            width: 100%;
            transform: translateY(100%);
            background: var(--dropdown-background, #f6f6f6);
            z-index: 20;

            .no-results {
                text-align: center;
                display: none;

                .btn-add-customer {
                    display: flex;
                    padding: var(--space-inline-16px, 16px);
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;
                    border-top: 1px solid var(--modal-divider, #dedfe0);
                    background: var(--color-primary-900, #208046);
                    color: var(--color-primary-100, #ddf6e7);
                    border: none;
                    width: 100%;
                    cursor: pointer;
                }
            }

            .results {
                cursor: pointer;
                background: var(--dropdown-background, #F6F6F6);
                display: none;
                padding: 16px;
                text-overflow: ellipsis;
                font-size: var(--font-size-web-body-lg, 16px);
                font-weight: var(--font-weight-semibold, 600);
                line-height: var(--font-line-height-s16, 24px);
            }
        }
    }

    .card-primary input[type="text"],
    .card-primary input[type="tel"],
    .card-primary select {
        border-radius: var(--input-radiusCorner, 8px);
        border: 1px solid var(--input-border-default, #dedfe0);
        padding: 10px;
        width: 100%;
        background: var(--input-background-default, #F6F6F6);

        &.search-cus {
            width: 100%;
            border-radius: 8px;
            border: 1px solid #dedfe0;
            padding: 8px;
            padding-left: 42px;
            background: url(../img/icon/search.svg) left 8px center #f6f6f6 no-repeat;

            &:focus {
                border: 1px solid var(--input-border-focus, #4ba66f);
                background: url(../img/icon/search.svg) left 8px center #fff no-repeat;
            }
        }

        &.is-disabled {
            pointer-events: none;
        }
    }





    .address-select {
        color: var(--input-text-unfill, #747475);
    }

    .title-order {
        border-bottom: 1px solid var(--modal-divider, #dedfe0);
        padding: 12px 0;
    }


    .management-link {
        color: var(--color-blue-900, #1F46A6);
        text-align: right;
        font-size: var(--font-size-web-body-md, 14px);
        font-style: italic;
        font-weight: 700;
        line-height: var(--font-line-height-s14, 20px);
    }

    .dropdown {
        input {
            padding-right: 28px;
            background: url(../img/icon/CaretDown.svg) right 8px center no-repeat #F6F6F6 !important;

            &.active {
                cursor: pointer;
            }
        }

        &-address {
            position: relative;
        }

        &-menu {
            display: none;
            background: var(--background-primary, #FFF);
            box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
            padding: 8px;
            position: absolute;
            top: 49px;
            left: 0;
            width: 100%;

            .item {
                border-radius: var(--radius-rounded-4, 4px);
                padding: 8px;
                cursor: pointer;

                &.active,
                &:hover {
                    background: var(--color-grey-50, #F2F3F5);
                }

                &+.item {
                    margin-top: 8px;
                }

            }

            .btn-add-address {
                cursor: pointer;

                &:hover {
                    .fa-plus {
                        background-image: url(../img/icon-hover/plus-svgrepo-com.svg);
                    }
                }
            }
        }

    }

    .tooltip {
        position: relative;

        &-content {
            min-width: 186px;
            position: absolute;
            bottom: -4px;
            right: 1px;
            transform: translate(44%, 100%);
            padding: 8px;
            background: #fff;
            z-index: 2;
            color: var(--tooltip-text, #0F0F0F);
            font-family: var(--font-family, Inter);
            font-size: var(--number-12px, 12px);
            line-height: var(--font-line-height-s14, 20px);
            border-radius: var(--tooltip-radiusCorner, 8px);
            box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
            display: none;
            &.show{
                display: block;
            }

            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 50%;
                transform: translate(-50%, -100%);
                width: 14px;
                height: 8px;
                background: url(../img/icon/up-white.svg) center center no-repeat;
            }
            li{
                border-radius: 4px;
                padding: 4px;
                &:hover {
                    background: var(--color-grey-50, #F2F3F5);
                }
            }

            li+li {
                margin-top: 4px;
            }
            .close {
                position: absolute;
                right: 4px;
                top: 4px;
            }
        }
    }
}

.group {
    &-management-link {}
}

.history-order {

    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;

    .no-history {
        margin: 0 auto;
        text-align: center;
        padding: 16px 0;
        display: none;
    }

    .history {
        .history-item {
            margin-bottom: 10px;

            .history-header {
                background: var(--color-grey-100, #DEDFE0);
                padding: 8px;

                .history-id {
                    .fa-dropdown {
                        background: url(../img/icon/down-black.svg) center center no-repeat;
                    }

                    .number {
                        color: var(--button-solid-text, #0F0F0F);
                        text-align: center;
                        font-family: var(--font-type-body, inter);
                        font-size: var(--font-size-web-body-lg, 16px);
                        font-weight: var(--font-weight-bold, 700);
                        line-height: var(--font-line-height-s16, 24px);
                    }
                }
            }

            .history-status {
                .status_order {
                    width: 100%;
                    text-align: center;
                    font-weight: 600;
                    font-size: 14px;
                    display: inline-block;
                    color: #0F0F0F;
                    padding: 0 8px;
                    border: 1px solid var(--tag-border-hover, #A7A7A8);
                    background: var(--tag-background-default, #F2F3F5);
                }

                .copy {
                    display: block;
                    margin-right: 20px;
                    width: 60px;
                    height: 24px;
                    background: url(../img/icon/copy.svg) center center no-repeat;
                }
            }

            .history-content {
                padding: 10px 16px 28px;
                border: 1px solid var(--color-grey-100, #DEDFE0);

                .info {
                    border-bottom: 1px dashed var(--modal-divider, #DEDFE0);
                    padding-bottom: 8px;
                }

                .txt {
                    overflow: hidden;
                    color: var(--input-text-filled, #0F0F0F);
                    text-overflow: ellipsis;
                    font-family: var(--font-type-body, inter);
                    font-size: var(--font-size-web-body-md, 14px);
                    font-weight: var(--font-weight-regular, 400);
                    line-height: var(--font-line-height-s14, 20px);

                    &.txt-green {
                        color: var(--color-primary-900, #208046);
                    }

                    &.txt-bold {
                        font-weight: bold;
                    }
                }
            }

            &.using {
                .history-header {
                    background: var(--color-primary-900, #208046);

                    .history-id {
                        .fa-dropdown {
                            background: url(../img/icon/down-white.svg) center center no-repeat;
                        }

                        .number {
                            color: var(--button-solid-text, #FCFCFC);
                        }
                    }
                }

                .history-status {
                    .status_order {
                        color: #fff;
                        border: none;
                        background: var(--color-primary-900, #208046);
                    }

                    .copy {
                        background: url(../img/icon/copy-white.svg) center center no-repeat;
                    }
                }

                .history-content {
                    border: 1px solid var(--color-primary-900, #208046);
                }
            }
        }
    }
}


.navigation-bottom {
    padding: 16px;
}

#modal-add-address {
    align-items: center;
    justify-content: center;

    .modal-content {
        padding: 0 16px 16px;
        max-width: 642px;
        background: #fff;
        z-index: 26;
        border-radius: 16px;
        min-height: 0;

        .tlt {
            padding-top: 12px;
            padding-bottom: 12px;
            color: var(--modal-text, #0F0F0F);
            font-size: var(--font-size-web-body-lg, 16px);
            font-weight: var(--font-weight-semibold, 400);
            line-height: var(--font-line-height-s16, 24px);
            border-bottom: 1px solid var(--modal-divider, #DEDFE0);
        }
    }
}