.print {

    background: #fff;

    &:hover {
        color: var(--button-outline-text-hover, #208046);
        border-radius: var(--button-radiusCorner, 8px);
        border: 1.5px solid var(--button-outline-border-hover, #208046);

        .fas-print {
            background: url(../img/icon-hover/print-svgrepo-com.svg) center center no-repeat;
        }
    }
}

.order-code {
    color: #000;
    font-size: var(--font-size-web-title-md, 24px);
    font-weight: var(--font-weight-semibold, 600);
    line-height: var(--font-line-height-s24, 36px);
}

.tlt-section {
    width: 100%;
    border-bottom: 1px solid var(--modal-divider, #DEDFE0);
    padding: 12px 16px;
    color: var(--modal-text, #0F0F0F);
    font-family: var(--font-type-body, Inter);
    font-size: var(--font-size-web-body-xl, 18px);
    font-weight: var(--font-weight-bold, 700);
    line-height: var(--font-line-height-s18, 27px);
}

.cost-txt {
    color: #000;
    text-align: right;
    font-size: var(--font-size-web-title-sm, 20px);
    font-weight: var(--font-weight-semibold, 600);
    line-height: var(--font-line-height-s20, 30px);

    &.red {
        color: var(--color-red-300, #CC2929);
        text-align: right;
    }
}

.txt {
    color: #0F0F0F;
    font-size: var(--font-size-web-body-lg, 16px);
    line-height: var(--font-line-height-s16, 24px);

    &.blue {
        overflow: hidden;
        color: var(--color-blue-700, #2451C2);
        text-overflow: ellipsis;
    }

    &.black {
        color: #000;
    }

    &.ellipsis {
        min-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.note-txt {
    color: var(--color-grey-600, #5B5B5C);
    font-size: var(--font-size-web-body-md, 14px);
    font-weight: 400;
    line-height: var(--font-line-height-s14, 20px);

    &.italic {
        font-style: italic;
    }
}

.section-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px 0;

    .product-item {
        padding-inline: 8px;

        .product-body {
            padding-top: 8px;
            padding-bottom: 8px;
            border-bottom: 1px solid var(--modal-divider, #DEDFE0);
        }
        &:last-child {
            .product-body {
                border: none;
                padding-bottom: 0;
            }
        }
    }
    .item-section {
        border-top: 1px solid var(--modal-divider, #DEDFE0);
        padding-top: 8px;
        &:first-child {
            padding-top: 0;
            border: none;
        }
        ul {
            li {
                padding-left: 16px;
            }
        }
    }
    &.status-content {
        gap: 16px 0;

        .tag-status {
            overflow: hidden;
            color: var(--color-grey-900, #0F0F0F);
            text-align: center;
            text-overflow: ellipsis;
            font-size: var(--font-size-web-body-md, 14px);
            font-weight: var(--font-weight-semibold, 400);
            line-height: var(--font-line-height-s14, 20px);
            padding: 4px;
            width: 100px;
            color: #FFF;
            background: var(--color-primary-900, #208046);
            &.bg2 {
                color: #fff;
                background: var(--color-red-500, #AB2222);
            }
            
            &.bg3 {
                color: #000;
                background: var(--color-purple-300, #C6B1F6);
            }
            
            &.bg1 {
                color: #000;
                border: 1px solid var(--tag-border-hover, #A7A7A8);
                background: var(--tag-background-default, #F2F3F5);
            }
            &.bg_order1 {
                
            }
            &.bg_order2 {
                color: #000;
                border: 1px solid var(--tag-border-hover, #A7A7A8);
                background: var(--tag-background-default, #F2F3F5);
            }
            &.bg_order3 {
                color: #fff;
                background: var(--color-red-500, #AB2222);
            }
        }

        &.reserve {
            background: var(--color-red-500, #AB2222);

            .btn-reserve {
                opacity: 1;
            }

        }
        
            
        
        
    }
}

.section-wapper {
    border-radius: 16px;
    background: var(--modal-background, #FFF);
    .copy {
        font-size: 16px;
    }
    &+.section-wapper {
        margin-top: 32px;
    }
}

.bottom-line {
    border-bottom: 1px solid var(--modal-divider, #DEDFE0);
}

.line-dots-top {
    border-top: 2px dashed var(--modal-divider, #DEDFE0);
}

.section-ship {
    padding-bottom: 16px;
    padding-top: 16px;
    margin-inline: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.btn-reserve {

    background: #FFF;
    padding: 8px 16px;
    width: 100%;
    text-align: center;
    font-weight: var(--font-weight-medium, 500);

    &.danger {
        color: var(--input-text-error, #CC2929);
        border-radius: var(--button-radiusCorner, 8px);
        border: 1.5px solid var(--input-border-error, #FFCECE);

        background: var(--inform-background-error, #FFE7E0);
    }

    &+.btn-reserve {
        margin-top: 16px;
    }
}

.table-container {
    margin-top: 65px;
    width: 100%;
    border: 1px solid #ddd;
    overflow: hidden;
    background-color: #fff;

    .table-wrapper {
        width: 100%;
        display: block;
        border-spacing: 0;

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                position: relative;
                display: table;
                width: 100%;
                table-layout: fixed;
                
                &::after{
                    content: '';
                    left: 0;
                    bottom: 0;
                    position: absolute;
                    width: calc(100% + 25px);
                    height: 2px;
                    background: #DEDFE0;
                }

                th {
                    background: var(--table-background-header, #DEDFE0);
                    text-align: left;
                    padding: 12px 0;
                    color: var(--table-text, #0F0F0F);
                    font-size: var(--font-size-web-body-lg, 16px);
                    font-weight: var(--font-weight-bold, 700);
                    line-height: var(--font-line-height-s16, 24px);
                    text-align: left;
                    padding-inline: 8px;

                    &:nth-child(1) {
                        width: 9.72%;
                        padding-left: 16px;
                    }

                    &:nth-child(2) {
                        width: 13.88%;
                    }

                    &:nth-child(3) {
                        width: 11.11%;
                    }

                    &:nth-child(4) {
                        width: 35.69%;
                    }

                    &:nth-child(5) {
                        width: 9.72%;
                        padding-right: 32px;
                    }

                    &:first-child,
                    &:last-child {
                        text-align: center;
                    }
                }
            }

            tbody {
                max-height: calc(50vh - 140px);
                display: block;
                width: 100%;
                overflow-y: scroll;
                scrollbar-width: thin;
                scrollbar-color: #DEDFE0 #fff;
                padding-top: 8px;

                &::-webkit-scrollbar {
                    width: 8px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #DEDFE0;
                    border-radius: 99px;
                }

                &::-webkit-scrollbar-track {
                    background-color: #fff;
                }

                tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    margin-bottom: 8px;


                    &:hover {
                        border-bottom: 1px solid var(--table-border, #DEDFE0);
                        background: var(--table-background-hover, #FAFAFC);
                    }

                    td {
                        padding: 8px;

                        &:nth-child(1) {
                            width: 9.72%;
                        }

                        &:nth-child(2) {
                            width: 13.88%;
                        }

                        &:nth-child(3) {
                            width: 11.11%;
                        }

                        &:nth-child(4) {
                            width: 35.69%;
                        }

                        &:nth-child(5) {
                            width: 9.72%;
                        }

                        &:first-child,
                        &:last-child {
                            text-align: center;
                        }

                        &.ellipsis {

                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }

    &.activity-history-table {
        margin-top: 0;
        border-radius: 16px 16px 0px 0px;
        border: none;

        table {

            thead {
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;

                th {
                    text-align: left;
                    background: none;
                    padding: 12px 0;
                    color: var(--table-text, #0F0F0F);
                    font-size: var(--font-size-web-body-lg, 16px);
                    font-weight: var(--font-weight-bold, 700);
                    line-height: var(--font-line-height-s16, 24px);
                    text-align: left;
                    padding-inline: 8px;

                    &:nth-child(2),
                    &:nth-child(5),
                    &:nth-child(6) {
                        width: 9.72%;
                    }

                    &:nth-child(1) {
                        width: 13.88%;
                        text-align: left;
                        padding-left: 16px;
                    }

                    &:nth-child(3) {
                        width: 12.5%;
                    }

                    &:nth-child(4) {
                        width: 24.58%;
                    }

                    &:nth-child(5),
                    &:nth-child(6) {
                        text-align: center;
                    }

                }
            }

            tbody {
                max-height: calc(75vh - 140px);
                padding-left: 16px;

                tr {

                    td {

                        &:nth-child(2),
                        &:nth-child(5),
                        &:nth-child(6) {
                            width: 9.72%;
                        }

                        &:nth-child(1) {
                            width: 13.88%;
                        }

                        &:nth-child(3) {
                            width: 12.5%;
                        }
                        &:nth-child(4) {
                            width: 24.58%;
                        }

                        &:nth-child(5),
                        &:nth-child(6) {
                            text-align: center;
                        }

                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3) {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    &.pay-table {
        margin-top: 0;
        border-radius: 16px 16px 0px 0px;
        border: none;

        table {

            thead {
                width: calc(100% - 20px);
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                position: relative;

                th {
                    text-align: left;
                    background: none;
                    padding: 12px 0;
                    color: var(--table-text, #0F0F0F);
                    font-size: var(--font-size-web-body-lg, 16px);
                    font-weight: var(--font-weight-bold, 700);
                    line-height: var(--font-line-height-s16, 24px);
                    text-align: left;
                    padding-inline: 8px;

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(5) {
                        width: 9.72%;
                    }

                    &:nth-child(3) {
                        width: 17.36%;
                    }

                    &:nth-child(6) {
                        width: 12.77%;
                        text-align: right;
                    }

                    &:nth-child(4) {
                        width: 20.83%;
                    }

                    &:nth-child(5) {
                        text-align: right;
                        padding-right: 8px;
                    }

                    &:first-child,
                    &:nth-child(2) {
                        text-align: center;
                    }
                }
            }

            tbody {
                max-height: calc(80vh - 140px);
                padding: 8px;
                padding-right: 13px;

                tr {

                    td {

                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(5) {
                            width: 9.72%;
                        }

                        &:nth-child(3) {
                            width: 17.36%;
                        }

                        &:nth-child(6) {
                            width: 12.77%;
                            text-align: right;
                        }

                        &:nth-child(4) {
                            width: 20.83%;
                        }

                        &:nth-child(5) {
                            text-align: right;
                        }

                        &:first-child,
                        &:nth-child(2) {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.activity-history {
    background: #fff;
}

#modal-cancel,
#modal-end {

    .modal-dialog {
        max-width: 480px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
}

.group-btn {
    display: none;

    &.show {
        display: flex;
    }
}

#modal-continue {
    .modal-dialog {
        max-width: 800px;
    }

    .tlt {
        color: var(--modal-text, #0F0F0F);
        font-family: var(--font-type-title, inter);
        font-size: var(--font-size-web-title-sm, 20px);
        font-weight: var(--font-weight-bold, 700);
        line-height: var(--font-line-height-s20, 30px);
        padding-bottom: 12px;
        border-bottom: 1px solid var(--modal-divider, #DEDFE0);
    }

    p {
        color: var(--modal-text, #0F0F0F);
        font-family: var(--font-type-body, inter);
        font-size: var(--font-size-web-body-md, 14px);
        font-weight: var(--font-weight-regular, 400);
        line-height: var(--font-line-height-s14, 20px);
    }

    .calendar {
        max-width: 343px;

        input[name='calendar'] {
            border-radius: var(--input-radiusCorner, 8px);
            border: 1px solid var(--input-border-default, #dedfe0);
            padding: 10px;
            width: 100%;
            background: url(../img/icon/CalendarBlank.svg) right 8px center no-repeat;
        }
    }
}
.detail-order {
    .group-button_top .fas img {
        filter: none;
    }
}