.detail-meal {
    table.table-detail-meal {
        thead {
            th {
                border: none;
                &:first-child {
                    border: none;
                    span{
                        font-size: inherit;
                        width: 200px;
                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
        tbody {
            tr {
                td {
                    border: none !important;
                    &:first-child {
                        text-align: left;
                        padding: 6px 10px;
                    }
                }
                &.top,&.select,&.sub_select {
                    position: relative; 
                    cursor: pointer;
                    &::after  {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        border: 1px solid #5B5B5C;
                        border-left: 8px solid #5B5B5C;
                        border-right: 8px solid #5B5B5C;
                        z-index: 1;
                        border-radius: 4px;
                    }
                    
                }
                &.select,&.sub_select {
                    ul li {
                        span, input {
                            position: relative;
                            z-index: 2;
                        }
                    }
                }
            }
        }
    }
    .btn-show-count {
        background-color: #FFF;
        &.selected {
            color: #208046;
            border: 1px solid var(--button-outline-border-hover, #208046);
            background: var(--color-primary-100, #DDF6E7);
        }
    }
}
table.table-detail-meal tbody  tr.accordion-tit_table.select,
table.table-detail-meal tbody tr.accordion-content_table.sub_select,
 { td.wrap-date .date-group {
    li.select_startday {
        background-color: rgba($color: #000000, $alpha: 0.4);
        /* Set background color on selected li elements */
    }
    
    li.select_endday {
        background-color: rgba($color: #000000, $alpha: 0.7);
        /* Background color for li elements between first and last */
    }
 }
    
}

.group-btn-bottom {
    position: fixed;
    bottom: 0px;
    padding-left: 206px;
    left: 0;
    width: 100%;
    z-index: 3;
    .btn {
        padding: 6px 24px;
        display: inline-block;
    }
    .bottom-btn {
        padding: 5px 16px 12px;
    }
}
.count-group {
    padding: 24px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    right: 16px;
    width: 100%;
    margin-bottom: 10px;
    &.is-show {
        display: block;
    }
    .ttl {
        font-size: 20px;
        font-weight: 600;
    }
    input {
        padding: 9px;
        border-radius: var(--input-radiusCorner, 8px);
        border: 1px solid var(--input-border-default, #DEDFE0);
        background: var(--input-background-default, #FFF);
        width: 100%;
    }
    .col-btn {
        height: 88px;
    }
    .count-close {
        cursor: pointer;
    }
    .col-txt {
        flex-wrap: wrap;
        height: 88px;
        p {
            width: 100%;
        }
        
    }
    .count-result.have-result {
        p {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        span {
            color: #208046;
            font-size: 32px;
            font-weight: bold;
            padding-left: 16px;
        }
    }
}
.mini_sidebar .group-btn-bottom{
    padding-left: 62px;
}
table.table  tbody tr.blank  td {
    padding-top: 0;
    min-height: 0;
}
table.table tr.accordion-tit_table {
    background: var(--color-grey-100, #DEDFE0);
    font-weight: 600;
    .fas {
        cursor: pointer;
    }
}
table.table.dataTable tr.accordion-tit_table td:first-child {
    background: url(../img/icon/toggle2.svg) left 8px center #DEDFE0 no-repeat;
}
table.table-detail-meal tbody tr.accordion-tit_table > .dtfc-fixed-start, 
table.table-detail-meal tbody tr.accordion-tit_table > .dtfc-fixed-end {
    background: var(--color-grey-100, #DEDFE0);
}
table.table-detail-meal tbody tr.accordion-tit_table > .order_status {
    background: #FFF;
}
table.table.dataTable tr.accordion-tit_table td.wrap-date {
    background: #fff;
    font-weight: normal;
}
table.table.dataTable tr.accordion-tit_table.on td:first-child {
    background-image: url(../img/icon/toggle.svg);
}
.accordion-content_table ,
table.table tr.accordion-content_table td>div {
    display: none;
}
table.table tr.accordion-content_table.d-table-row {
    border: none;
    display: table-row;
    &.is-active {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
table.table tr.accordion-content_table.d-table-row td {
    transition: .4s padding;
    padding: 0px 10px !important;
}
table.table tr.accordion-content_table.d-table-row.is-active td{
    padding: 0px 10px !important;
}
table.table tr.accordion-content_table.d-table-row td:first-child div{
    padding-left: 24px;
}