.row .content-wrapper {
    flex-grow: 1;
    padding-left: 206px;
}
.alert {
    border-radius: 8px;
    padding: 8px;
    color: #fff;
    background-color: #0099cc;
    &.alert-warning {
        background-color: orange;
    }
} 
.content-import {
    border-radius: 16px;
    background: var(--background-dim-green, #F6F6F6);
    height: 100%;
    .card-import {
        max-width: 600px;
        margin: 0 auto;
        padding-top: 20vh;
        .input-group {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: stretch;
            align-items: stretch;
            width: 100%;
        }
        .custom-file {
            position: relative;
            display: inline-block;
            width: 100%;
            height: calc(2.25rem + 2px);
            margin-bottom: 0;
            
        }
        .custom-file-input {
            cursor: pointer;
            position: relative;
            z-index: 2;
            width: 100%;
            height: calc(2.25rem + 2px);
            margin: 0;
            overflow: hidden;
            opacity: 0;
        }
        .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            min-width: 0;
            margin-bottom: 0;
        }
        .input-group>.custom-file {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
        }
        .input-group-append, .input-group-prepend {
            display: -ms-flexbox;
            display: flex;
            margin-left: -1px;
        }
        .input-group-text {
            cursor: pointer;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 .75rem;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            text-align: center;
            white-space: nowrap;
            background-color: #e9ecef;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .custom-file-label {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1;
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            overflow: hidden;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            box-shadow: none;
        }
        .custom-control-label::before, .custom-file-label, .custom-select {
            transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        .input-group>.custom-file:not(:last-child) .custom-file-label, .input-group>.custom-file:not(:last-child) .custom-file-label::after {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label, .input-group:not(.has-validation)>.custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation)>.custom-select:not(:last-child), .input-group:not(.has-validation)>.form-control:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        
        .custom-file-label::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            display: block;
            height: 2.25rem;
            padding: .375rem .75rem;
            line-height: 1.5;
            color: #495057;
            content: "Browse";
            background-color: #e9ecef;
            border-left: inherit;
            border-radius: 0 .25rem .25rem 0;
        }
        
        
    }
}
.ttl-orange {
    background-color: #FF9400 !important;
    color: #fff !important;
}
.ttl-green {
    background-color: #2A8C51 !important;
    color: #fff !important;
}
.ttl-red {
    background-color: #CC2929 !important;
    color: #fff !important;
}
.cl-orange {
    background-color: #FFE6C0;
    color: #FF9400 !important;
    font-weight: bold;
}
.cl-green {
    background-color: #EAFED7;
    color: #2A8C51 !important;
    font-weight: bold;
}
.cl-red {
    background-color: #FFE7E0;
    color: #CC2929 !important;
    font-weight: bold;
}

.timeline{
	.item{
		display: flex;
		gap:10px;
		.time{
			font-size: 14px;
			font-weight: 500;
			color: #737373;
		}
		.avatar{
			border-radius: 50%;
			overflow: hidden;
			border: 1px solid #E5E5E5;
			z-index: 5;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		.content{
			flex:1;
			position: relative;
			z-index: 2;
			padding-bottom: 20px;
			&::before{
				content: "";
				position: absolute;
				left:-25px;
				top:0;
				width:1px;
				height:100%;
				background-color: #E5E5E5;
			}
		}
	}
}