.modal { bottom: 0; left: 0; position: absolute; background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%); right: 0; top: 0; align-items: center; display: none; justify-content: center; overflow: hidden; position: fixed; z-index: 40 }
.modal.is-active { display: flex }
.modal-background { background-color: rgba(10, 10, 10, .86); bottom: 0; left: 0; position: absolute; right: 0; top: 0; }
.modal-card,
.modal-content {max-height: calc(100vh - 160px); overflow: auto; position: relative; width: 100% }
.modal-content { padding:10px 16px 16px; margin: 0 }
.modal-content a {color: #f12837;}
.modal-card { background-color: #fff; border-radius: 6px; display: flex; flex-direction: column; max-height: calc(100vh - 40px); overflow: hidden }
.modal-card-foot,
.modal-header { padding: 5px 0 16px; position: relative ;border-bottom: var(--number-1px, 1px) solid var(--modal-divider, #DEDFE0);}
.modal-card-head { align-items: center; display: flex; flex-shrink: 0; justify-content: flex-start; margin: unset;    border-top-left-radius: 5px; border-top-right-radius: 5px }
.modal-card-title { color: #363636; flex-grow: 1; flex-shrink: 0; font-size: 1.5rem; line-height: 1 }
.modal-card-foot { width: 100%; text-align: center; border-top: 1px solid #dbdbdb }
.modal-card-foot .button:not(:last-child) { margin-right: 10px }
.delete { user-select: none; -moz-appearance: none; background: none; border: none; border-radius: 290486px; cursor: pointer; display: inline-block; flex-grow: 0; flex-shrink: 0; font-size: 0; height: 40px; outline: 0; position: relative; vertical-align: top; width: 40px }
.delete::after,
.delete::before { background-color: #B28856; content: ""; display: block; left: 50%; position: absolute; top: 50%; transform: translateX(-50%) translateY(-50%) rotate(45deg); transform-origin: center center }
.delete::before { height: 2px; width: 50% }
.delete::after { width: 2px; height: 50% }
.modal-dialog {
  background-color: #fff;
  border-radius: 16px;
  min-width: 600px;
  h4 {
    font-size: 20px;
  }
}
#modal-edit {
  select {
    width: 100%;
  }
}
.modal-body {
  padding-top: 16px;
  .filter.list-unstyled {
    padding-bottom: 16px;
    li {
      padding-bottom: 8px;
      label {
        display: flex;
        align-items: center;
        input {
          margin-right: 8px;
        }
      }
    }
  }
}
.modal-copy-phone {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  background: none;
  visibility: hidden;
  &.is-active { display: flex }
  .modal-dialog {
    min-width: auto;
    background: var(--color-primary-100, #F0FAF4);
    border: 1px solid #98D9B2;
    margin-bottom: 65vh;
    visibility: visible;
    .modal-content {
      padding: 8px 16px 16px;
      z-index: 40;
      position: relative;
    }
    .form-group {
      .phone-copy {
        color: #2451C2;
        padding: 0 8px;
      }
      .fa-tick {
        border-radius: 50%;
        margin-right: 4px;
        background-color: #fff;
      }
      .fa-trash {
        cursor: pointer;
      }
    }
  }
}
.modal-warning {
  .modal-dialog {
    min-width: 320px;
  }
}