.modal { bottom: 0; left: 0; position: absolute;  right: 0; top: 0; align-items: center; display: none; justify-content: center; overflow: hidden;
  .overlay {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 25;
		background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
			display: block;
			position: fixed;
		}
  }
.modal.is-active { display: flex }
.modal-background { background-color: rgba(10, 10, 10, .86); bottom: 0; left: 0; position: absolute; right: 0; top: 0; }
.modal-card,
.modal-content {max-height: calc(100vh - 160px); overflow: auto; position: relative; width: 100% ;}
.modal-content { padding:0px 16px 0px; margin: 0 }
.modal-content a {color: #f12837;}
.modal-card { background-color: #fff; border-radius: 6px; display: flex; flex-direction: column; max-height: calc(100vh - 40px); overflow: hidden }
.modal-card-foot,
.modal-header { padding: 5px 0 16px; position: relative ;border-bottom: var(--number-1px, 1px) solid var(--modal-divider, #DEDFE0);}
.modal-card-head { align-items: center; display: flex; flex-shrink: 0; justify-content: flex-start; margin: unset;    border-top-left-radius: 5px; border-top-right-radius: 5px }
.modal-card-title { color: #363636; flex-grow: 1; flex-shrink: 0; font-size: 1.5rem; line-height: 1 }
.modal-card-foot { width: 100%; text-align: center; border-top: 1px solid #dbdbdb }
.modal-card-foot .button:not(:last-child) { margin-right: 10px }
.delete { user-select: none; -moz-appearance: none; background: none; border: none; border-radius: 290486px; cursor: pointer; display: inline-block; flex-grow: 0; flex-shrink: 0; font-size: 0; height: 40px; outline: 0; position: relative; vertical-align: top; width: 40px }
.delete::after,
.delete::before { background-color: #B28856; content: ""; display: block; left: 50%; position: absolute; top: 50%; transform: translateX(-50%) translateY(-50%) rotate(45deg); transform-origin: center center }
.delete::before { height: 2px; width: 50% }
.delete::after { width: 2px; height: 50% }
.modal-dialog {
  background-color: #fff;
  border-radius: 16px;
  min-width: 600px;
  max-width: 780px;
  z-index: 30;
  padding-top: 10px;
  padding-bottom: 16px;
  h4 {
    font-size: 20px;
  }
}
#modal-edit {
  select {
    width: 100%;
  }
}
.modal-history {
  
}
.modal-body {
  .js-comment-row {
    border-bottom: 1px solid var(--modal-divider, #DEDFE0);
    padding-bottom: 8px;
    margin-bottom: 8px;
    &:last-child {
      border:none
    }
  }
  .filter.list-unstyled {
    padding-bottom: 16px;
    li {
      padding-bottom: 8px;
      label {
        display: flex;
        align-items: center;
        input {
          margin-right: 8px;
        }
      }
    }
  }
}
.modal-copy-phone {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  background: none;
  visibility: hidden;
  &.is-active { display: flex }
  .modal-dialog {
    min-width: auto;
    background: var(--color-primary-100, #F0FAF4);
    border: 1px solid #98D9B2;
    margin-bottom: 65vh;
    visibility: visible;
    z-index: 40;
    position: relative;
    padding-top: 16px;
    .form-group {
      .phone-copy {
        color: #2451C2;
        padding: 0 8px;
      }
      .fa-tick {
        border-radius: 50%;
        margin-right: 4px;
        background-color: #fff;
      }
      .fa-trash {
        cursor: pointer;
      }
    }
  }
}
.modal-warning {
  .modal-dialog {
    min-width: 320px;
  }
}
.modal-result_update {
  .modal-header {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: none;
    .modal-title {
      border-bottom: var(--number-1px, 1px) solid var(--modal-divider, #DEDFE0);
      padding: 6px 0 12px;
    }
    .nav {
      padding-top: 24px;
      font-weight: bold;
      border-bottom: var(--number-1px, 1px) solid var(--modal-divider, #DEDFE0);
      li {
        display: inline-block;
        color: #747475;
        padding: 8px 16px;
        margin-right: 8px;
        cursor: pointer;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          color: #208046;
          &::after {
            content: '';
            background-color: #208046;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -1px;
          }
          &.error {
            color: #CC2929;
            &::after {
            background-color: #CC2929;
            }
          }
        }
      }
    }
    .notice {
      margin-top: 16px;
      border-radius: var(--inform-radiusCorner, 8px);
      border: 1px solid var(--inform-border-success, #98D9B2);
      background: var(--inform-background-success, #F0FAF4);
      padding: 12px;
    }
  }
  .modal-content {
    max-height: calc(100vh - 320px);
  }
  .modal-body {
    .row {
      padding: 8px 0;
      &.error {
        color: #CC2929;
      }
    }
  }
  .modal-footer {
    button {
      margin: 0 auto;
      padding-top: 11px;
      padding-bottom: 11px;
      background-color: #fff;
      &.button-result-export {
        padding-left: 52px;
        background: url(../img/icon/download-svgrepo-com.svg) left 24px top 5px no-repeat;
      }
    }
  }
}