.copy {
    cursor: pointer;
    color: #2451C2;
}
.nowrap{
    white-space: nowrap;
}
.tag.btn,.select2-selection__rendered {
    padding: 2px 6px 4px;
    color: #fff;
    white-space: nowrap;
    margin: 2px;
    display: inline-block;
    border-radius: 3px;
    ::first-letter {
        text-transform: uppercase;
    }
}


.btn.tag_1 {
    background: var(--color-purple-300, #C6B1F6);
    color: #0F0F0F;
}

.btn.tag_2 {
    background: var(--color-blue-600, #2759D4);
    color: #fff;
}

.btn.tag_3 {
    background: var(--color-grey-200, #C0C0C2);
    color: #BA2525;
}

.btn.tag_4 {
    background: var(--color-grey-800, #282829);
    color: #FFC500;
}

.btn.tag_5 {
    background-color: orange;
}
.select2-results ul li {
    &::first-letter {
        text-transform: uppercase;
    }
  }
  .select2-container--default .select2-selection--multiple {
    min-height: 40px;
    .select2-selection__choice__remove {
        margin-right: 0;
        margin-left: 4px;
    }
    .select2-selection__rendered li {
        line-height: 27px;
    }
      .select2-selection__rendered li.select2-selection__choice{
        border: none;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        .select2-selection__choice__remove ~ *{
            &::first-letter {
                text-transform: uppercase;
            }
        }
        &[title="thân thiết"] {
            background: var(--color-purple-300, #C6B1F6);
            color: #0F0F0F;
            .select2-selection__choice__remove {
                color: #0F0F0F;
                &:hover {
                    color: #0F0F0F;
                }
            }
        }
        &[title="ăn nhóm"] {
            background: var(--color-blue-600, #2759D4);
            color: #fff;
            .select2-selection__choice__remove {
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }
        }
        &[title="khách nước ngoài"] {
            background: var(--color-grey-200, #C0C0C2);
            color: #BA2525;
            .select2-selection__choice__remove {
                color: #BA2525;
                &:hover {
                    color: #C0C0C2;
                }
            }
        }
        &[title="bệnh lý"],
        &[title="khách có bệnh lý"] {
            background: var(--color-grey-800, #282829);
            color: #FFC500;
            .select2-selection__choice__remove {
                color: #FFC500;
                &:hover {
                    color: #FFC500;
                }
            }
        }
        &[title="khách hãm"] {
            background-color: red;
            .select2-selection__choice__remove {
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }
        }
        &[title="bảo lưu"] {
            background-color: orange;
            .select2-selection__choice__remove {
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
  } 
  
  
.btn.status_1 {
    color: #fff;
    background: var(--color-primary-900, #208046);
    border: var(--number-1px, 1px) solid var(--tag-border-hover, #208046);
}

.btn.status_2 {
    border: var(--number-1px, 1px) solid var(--tag-border-hover, #A7A7A8);
    background: var(--tag-background-default, #F2F3F5);
    color: #0F0F0F;
}

.btn.status_3 {
    background-color: yellow;
    opacity: 0.65;
    color: #000;
}

.btn.status_4 {
    background-color: gray;
}

.btn.status_5 {
    background-color: orange;
    color: #fff;
}
.order_1 {background-color: green;}
.order_2 {background-color: red;}
.order_3 {background-color: orange;}
.order_4 {background-color: yellow;}
.fas {
    width: 24px;
    height: 24px;
    display: inline-block;
    img {
        vertical-align: top;
    }
}
.fa-trash {
    background: url(../img/icon/delete-svgrepo-com.svg) center center no-repeat ;
}
.fa-bin {
    background: url(../img/icon/bin.svg) center center no-repeat ;
}
.fa-bin-red {
    background: url(../img/icon/bin-red.svg) center center no-repeat ;
}
.fa-filter {
    background: url(../img/icon/filter-svgrepo-com.svg) center center no-repeat ;
}
.fa-plus {
    background: url(../img/icon/plus-svgrepo-com.svg) center center no-repeat ;
}
.fa-left {
    background: url(../img/icon/CaretLeft.svg) center center no-repeat ;
}
.fa-right {
    background: url(../img/icon/CaretRight.svg) center center no-repeat ;
}
.fa-export {
    background: url(../img/icon/download-svgrepo-com.svg) center center no-repeat ;
}
.fa-info {
    background: url(../img/icon/contact-svgrepo-com.svg) center center no-repeat ;
}
.fa-location {
    background: url(../img/icon/address-location-map-svgrepo-com.svg) center center no-repeat ;
}
.fa-tick {
    background: url(../img/icon/tick-svgrepo-com_green.svg) center center no-repeat ;
}
.button,.btn {
    padding: 11px 24px;
    border-radius: var(--button-radiusCorner, 8px);
    border: 1.5px solid var(--button-outline-border-default, #DEDFE0);
    border: none;
    cursor: pointer;
    margin:0 4px;
}
.btn-primary {
background: var(--button-solid-background-default, #208046);
border: 1px solid var(--input-border-error, #208046);
color: #fff;
}
.btn-secondary {
    border-radius: var(--button-radiusCorner, 8px);
    border: 1.5px solid var(--button-outline-border-default, #DEDFE0);
    border: 1px solid var(--input-border-error, #DEDFE0);
}
.btn-danger {
    border-radius: var(--button-radiusCorner, 8px);
    border: 1px solid var(--input-border-error, #F73131);
    background: var(--inform-background-error, #FFE7E0);
    color: #F73131;
}
.badge {
    color: #4BA66F;
    padding: 0 8px;
    border-radius: var(--tag-radiusCorner-rounded, 8px);
    border: 1px solid var(--tag-border-selected, #4BA66F);
    background: var(--tag-background-active, #F0FAF4);
}

.daterangepicker td {
    &.in-range {
        background: var(--calendar-background-cell-range, #F0FAF4);
    }
    &.active,&.active:hover,&:hover,&.end-date,&.available:hover {
        background: var(--calendar-background-cell-selected, #4BA66F);
    }
    
} 
    

