.copy {
    cursor: pointer;
}
.nowrap{
    white-space: nowrap;
}
.tag.btn,.select2-selection__rendered {
    padding: 2px 6px 4px;
    color: #fff;
    white-space: nowrap;
    margin: 2px;
    display: inline-block;
    border-radius: 3px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    line-height: 27px;
}
.btn.tag_1 {
    background-color: green;
}

.btn.tag_2 {
    background-color: #0056b3;
}

.btn.tag_3 {
    background-color: yellow;
    color: #000;
}

.btn.tag_4 {
    background-color: red;
}

.btn.tag_5 {
    background-color: orange;
}

.btn.status_1 {
    background-color: green;
}

.btn.status_2 {
    background-color: yellow;
    color: #000;
}

.btn.status_3 {
    background-color: yellow;
    opacity: 0.65;
    color: #000;
}

.btn.status_4 {
    background-color: gray;
}

.btn.status_5 {
    background-color: orange;
    color: #fff;
}
.order_1 {background-color: green;}
.order_2 {background-color: red;}
.order_3 {background-color: orange;}
.order_4 {background-color: yellow;}
.fas {
    width: 24px;
    height: 24px;
    display: inline-block;
}
.fa-trash {
    background: url(../img/icon/delete-svgrepo-com.svg) center center no-repeat ;
}
.fa-bin {
    background: url(../img/icon/bin.svg) center center no-repeat ;
}
.fa-bin-red {
    background: url(../img/icon/bin-red.svg) center center no-repeat ;
}
.fa-filter {
    background: url(../img/icon/filter-svgrepo-com.svg) center center no-repeat ;
}
.fa-plus {
    background: url(../img/icon/plus-svgrepo-com.svg) center center no-repeat ;
}
.fa-left {
    background: url(../img/icon/CaretLeft.svg) center center no-repeat ;
}
.fa-right {
    background: url(../img/icon/CaretRight.svg) center center no-repeat ;
}
.fa-export {
    background: url(../img/icon/download-svgrepo-com.svg) center center no-repeat ;
}
.fa-info {
    background: url(../img/icon/contact-svgrepo-com.svg) center center no-repeat ;
}
.fa-location {
    background: url(../img/icon/address-location-map-svgrepo-com.svg) center center no-repeat ;
}
.button,.btn {
    padding: 11px 24px;
    border-radius: var(--button-radiusCorner, 8px);
    border: 1.5px solid var(--button-outline-border-default, #DEDFE0);
    border: none;
    cursor: pointer;
    margin:0 4px;
}
.btn-primary {
background: var(--button-solid-background-default, #208046);
color: #fff;
}
.btn-secondary {
    border-radius: var(--button-radiusCorner, 8px);
    border: 1.5px solid var(--button-outline-border-default, #DEDFE0);
}
.btn-danger {
    border-radius: var(--button-radiusCorner, 8px);
    border: 1px solid var(--input-border-error, #F73131);
    background: var(--inform-background-error, #FFE7E0);
    color: #F73131;
}
.badge {
    color: #4BA66F;
    padding: 0 8px;
    border-radius: var(--tag-radiusCorner-rounded, 8px);
    border: 1px solid var(--tag-border-selected, #4BA66F);
    background: var(--tag-background-active, #F0FAF4);
}